{% extends 'base.html' %}
{% load static %}
{% block title %} Redefinir a senha {% endblock title %}

{% block body %}

<div class="container">
    <div class="mt-5 col-sm-8 offset-sm-1">
        <h2>Redefinir uma nova senha</h2>
        <form action="" method="POST" novalidate> {% csrf_token %}

            {% for fm in form %}
            {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors | striptags}}</small><br/>
            {% endfor %}

           <input class="btn btn-success" type="submit" value="Enviar">

            {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}

            <p class="alert alert-danger my-3">{{error}}</p>

            {% endfor %}
            {% endif %}

        </form>
    </div>
</div>

{% endblock body %}