{% extends 'base.html' %}
{% load static %}
{% block title %} Adicionar ao carrinho {% endblock %}
{% block body %}

<div class="container my-5">
    <div class="row">

        {% if carrinho %}

        <h1 class="tit_carrinho text-white shadow text-center mb-5 shadow bg-warning rounded">Carrinho de compras</h1>
        <div class="col-sm-8 bg-light">
            <div class="card">
                <div class="card-body">
                    <h3 class="mx-4">Carrinho</h3>

                    {% for item in carrinho %}

                    <div id="pro" class="row">
                        <div class="col-sm-3 text-center align-self-center"><img src="{{item.produto.foto_produto.url}}"
                                                                                 alt="" srcset=""
                                                                                 class="img-fluid img-thumbnail shadow-sm"
                                                                                 height="150" width="150"></div>
                        <div class="col-sm-9">
                            <div>
                                <h4>{{item.produto.nome_produto}}</h4>
                                <p class="mb-2 text-muted small">{{item.produto.descricao_produto}}</p>
                                <div class="my-3">
                                    <label for="quantidade">Quantidade</label>
                                    <a class="minus-cart btn" name="prod_id" pid="{{item.produto.id}}"><i
                                            class="fas fa-minus-square fa-lg"></i></a>
                                    <span id="quantidade">{{item.quantidade}}</span>
                                    <a class="plus-cart btn" pid="{{item.produto.id}}"><i
                                            class="fas fa-plus-square fa-lg"></i></a>
                                </div>
                                <div class="justify-content-between">
                                    <a href="" class="mb-4 remove-cart btn btn-danger"
                                       pid="{{item.produto.id}}">Remover item</a>
                                    <p class="preco_produto mb-0 fs-4 text-success shadow"><span><strong>Preço: R${{item.produto.preco_desconto}}0 reais</strong></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="text-muted">
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h3>O total das compras fica:</h3>
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                            Total: <span class="text-white bg-success fw-bold p-1 rounded" id="total">R$ {{total}}0 REAIS</span>
                        </li>

                        <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                            Transporte<span class="fw-bold text-primary">R$ 40,00 REAIS</span></li>

                        <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                            <div>
                                <span class="fs-3 text-dark bg-warning rounded p-2" id="total_tudo"><strong> Total: R$ {{total_tudo}}0 REAIS</strong></span>
                            </div>
                        </li>
                    </ul>
                    <button class="btn btn-success mt-4">Finalizar pedido</button>
                </div>
            </div>

            {% else %}

            <h1 class="mt-5 text-primary">A lista do carrinho está vazia
                <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="bi bi-cart3"
                     viewBox="0 0 16 16">
                    <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                </svg>
            </h1>

            {% endif %}

        </div>
    </div>
</div>
{% endblock body %}

